<h1 class="jumbotron text-center">User Page</h1>

<%= render 'messages/form' %>
<hr>

<h3>Sent messages </h3>
<em>(click a message to show its full message)</em><br><br>
<ul>
  <% @user.messages.each do |message| %>
    <div class="clickmessage well">
      <p class="shortmessage"><%= message.body[0..15] + "..." %></p>
      <p class="longmessage"><%= message.body %></p>
    </div>
  <% end %>
</ul>
